In [ ]:
3+10

13

In [ ]:
a=2
b=5
print(a)
print(b)
print('value of a=',a)
print('value of b=',b)
print(a+b)
c=a
print('c=',c)

2
5
value of a= 2
value of b= 5
7
c= 2

In [ ]:
print(4+5)

9

In [ ]:
print('5+6')

5+6

In [ ]:
'4'+str(10)

'410'

In [ ]:
'4'+'10'

'410'

In [ ]:
print('A\nB\nC')
print('A\tB')
print('WDG\bY')
print('A\aB\aCD')
print('1\a2\a34\a5')

A
B
C
A	B
WDGY
ABCD
12345

In [ ]:
## calculator
#num1 = int(a)
a=int(input("enter the first number="))
#num2 = int(b)
b=int(input("enter the second number="))

operation = input("select the operation:+,-,*,/")

if operation == '+':
  result = a+b
elif operation == '-':
  result = a-b
elif operation == '*':
  result = a*b
elif operation == '/':
  result = a/b
print("ans=", result)

enter the first number=5
enter the second number=6
select the operation:+,-,*,/*
ans= 30

In [ ]:
list1 = [1,2,3,4,5,]
print(list1[3])
print(list1[1:4])

4
[2, 3, 4]

In [ ]:
a= list(range(10))
print(a)
print(a[2:8:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6]

In [ ]:
b=list(range(10,100,20))
b

[10, 30, 50, 70, 90]

In [ ]:
print('enter 2 numbers to divide')
d1 = int(input('1st number:'))
d2 = int(input('2nd number:'))
if d2!=0:
  print(d1,'/',d2,'=',d1/d2)

enter 2 numbers to divide
1st number:6
2nd number:3
6 / 3 = 2.0

In [ ]:
num = int(input("please enter an int in range 0...999:"))

if num < 0:
  num = 0
  print('smaller than the range')

if num > 999:
  num = 999
  print('larger than the range')

print(num)

please enter an int in range 0...999:555
555

In [ ]:
#range

for x in range(3,8,2):
  print("X:", x)

X: 3
X: 5
X: 7

In [ ]:
for x in range(2,10,3):
  print("X:", x)

X: 2
X: 5
X: 8

In [ ]:
for x in range(-2,10,3):
  print("X:", x)

X: -2
X: 1
X: 4
X: 7

In [ ]:
# indefinite loop

total = 10
while(total >= 0):
  print("value of variable is:", total)
  total = total -2;
print("out of loop")

value of variable is: 10
value of variable is: 8
value of variable is: 6
value of variable is: 4
value of variable is: 2
value of variable is: 0
out of loop

In [ ]:
total = 10
while(total >= 0):
  print("value of variable is:", total)
  break;
print("out of loop")

value of variable is: 10
out of loop

In [ ]:
#interactive while loop

mySum = 0
myCount = 0

while(True):
  newInput = float(input("enter the number"))
  myCount = myCount+1;
  mySum = mySum+newInput;
  ask = input("do u want to continue? (Y/N)")
  if(ask=="Y" or ask=="y"):
    continue;
  else:
    break;

print("total values entered:", myCount)
print("Sum:",mySum)
print("Average:", mySum/myCount)

enter the number10
do u want to continue? (Y/N)y
enter the number5
do u want to continue? (Y/N)Y
enter the number6
do u want to continue? (Y/N)n
total values entered: 3
Sum: 21.0
Average: 7.0

In [ ]:
#nested loops

for num in range(5):
  for i in range(num):
    print(num,end='') #print number
  print("\n") #new line

1

22

333

4444

In [ ]:
# nested loop by changing the ranges

"""
for num in range(2,8,2):
  for i in range(num):
    print(num,end='') #print number
  print("\n") #new line
"""
for num in range(2,8):
  for i in range(num):
    print(num,end='') #print number
  print("\n") #new line

22

333

4444

55555

666666

7777777

In [ ]:
Friends = ["ABC","DEF","GHI","JKL"]

for myfriend in Friends:
  print("Happy New Year",myfriend)

Happy New Year ABC
Happy New Year DEF
Happy New Year GHI
Happy New Year JKL

In [ ]:
#nested loops for recording temp and average

days=["sun","mon","tue","wed"]
sun_temp=[6,7,8,9]
mon_temp=[2,3,4,5]
tue_temp=[5,6,7,8]
wed_temp=[6,7,8,9]

for day in days:
  print("temp for day", day, "is recorded as:")
  avgTemp=0.0;
  count = 0.0;

  if(day == "sun"):
    for temp in sun_temp:
      print(temp)
      avgTemp=avgTemp+temp;
      count = count+1;

  elif (day == "mon"):
    for temp in mon_temp:
      print(temp)
      avgTemp=avgTemp+temp;
      count = count+1;

  elif (day == "tue"):
    for temp in tue_temp:
      print(temp)
      avgTemp=avgTemp+temp;
      count = count+1;

  elif (day == "wed"):
    for temp in wed_temp:
      print(temp)
      avgTemp=avgTemp+temp;
      count = count+1;
  print("avg is:", avgTemp/count)
print("out of loop")

temp for day sun is recorded as:
6
7
8
9
avg is: 7.5
temp for day mon is recorded as:
2
3
4
5
avg is: 3.5
temp for day tue is recorded as:
5
6
7
8
avg is: 6.5
temp for day wed is recorded as:
6
7
8
9
avg is: 7.5
out of loop

In [ ]:
def hello():
  print ('hello')
  print ('class')

print ("start")
print("goin to call ")
hello()

start
goin to call
hello
class

In [ ]:
def greet(name_of_student):
  print("Hello", name_of_student,"\t Happy Valentines!")

greet("Annie")

Hello Annie 	 Happy Valentines!

In [3]:
# task 1
"""From a provided list of 100 students and their marks for the "Intelligent Systems" subject, your task is to categorize these students into specific academic classes based on their performance.

Using the .append() method, create category lists for the following classes:

Failed: Include students who have scored less than 33 marks.
Third Class: Include students who have scored more than 33 marks but less than or equal to 50.
Second Class: Include students who have scored more than 50 marks but less than or equal to 65.
First Class: Include students who have scored more than 65 marks but less than or equal to 75.
Distinction: Include students who have scored more than 75 marks.
"""

students=['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Hannah', 'Ian', 'Jack', 'Katie', 'Liam', 'Mia', 'Noah', 'Olivia', 'Penelope', 'Quincy', 'Ryan', 'Sophia', 'Taylor', 'Uma', 'Violet', 'William', 'Xander', 'Yasmine', 'Zachary', 'Ava', 'Benjamin', 'Catherine', 'Daniel', 'Ella', 'Finn', 'Gabriella', 'Harrison', 'Isabella', 'Jacob', 'Kylie', 'Luna', 'Matthew', 'Nora', 'Oscar', 'Piper', 'Quinn', 'Riley', 'Samuel', 'Tessa', 'Ulysses', 'Victoria', 'Winston', 'Ximena', 'Yara', 'Zane', 'Aria', 'Brooklyn', 'Caleb', 'Delilah', 'Ethan', 'Fiona', 'Grace', 'Henry', 'Isabelle', 'Julian', 'Katelyn', 'Liam', 'Madeline', 'Nathan', 'Olivia', 'Peter', 'Quinn', 'Rebecca', 'Sophia', 'Thomas', 'Ursula', 'Vivian', 'William', 'Xander', 'Yasmine', 'Zachary', 'Ava', 'Benjamin', 'Catherine', 'Daniel', 'Ella', 'Finn', 'Gabriella', 'Harrison', 'Isabella', 'Jacob', 'Kylie', 'Luna', 'Matthew', 'Nora', 'Oscar', 'Piper', 'Quinn']
marks=[65, 75, 66, 80, 23, 77, 78, 82, 74, 63, 53, 41, 70, 52, 97, 29, 68, 76, 79, 68, 39, 21, 93, 42, 77, 22, 70, 47, 70, 98, 84, 86, 56, 24, 54, 24, 92, 27, 93, 43, 37, 63, 77, 40, 31, 60, 45, 42, 29, 55, 38, 32, 37, 94, 96, 46, 72, 65, 99, 29, 80, 21, 27, 79, 91, 78, 20, 52, 91, 34, 99, 91, 45, 91, 22, 46, 68, 88, 60, 28, 61, 100, 35, 95, 34, 53, 52, 70, 64, 99, 58, 67, 31, 89, 75]

len(students)
len(marks)

first_class=[]
second_class=[]
third_class=[]
distinction=[]
failed=[]

for i in range(len(students)):
  student = students[i]
  mark = marks[i]
  if (marks[i]<33):
    failed.append(student)
  elif (marks[i] >= 33 and marks[i] <=50):
    third_class.append(student)
  elif(marks[i] >50 and marks[i]<=65):
    second_class.append(student)
  elif(marks[i]>65 and marks[i]<=75):
    first_class.append(student)
  elif(marks[i]>75):
    distinction.append(student)

print("Failed:")
print(failed)

print("\nThird Class:")
print(third_class)

print("\nSecond Class:")
print(second_class)

print("\nFirst Class:")
print(first_class)

print("\nDistinction:")
print(distinction)

Failed:
['Emma', 'Penelope', 'Violet', 'Zachary', 'Harrison', 'Jacob', 'Luna', 'Samuel', 'Winston', 'Zane', 'Henry', 'Julian', 'Katelyn', 'Olivia', 'William', 'Benjamin', 'Oscar']

Third Class:
['Liam', 'Uma', 'Xander', 'Benjamin', 'Nora', 'Oscar', 'Riley', 'Ulysses', 'Victoria', 'Yara', 'Aria', 'Delilah', 'Rebecca', 'Ursula', 'Xander', 'Ella', 'Gabriella']

Second Class:
['Alice', 'Jack', 'Katie', 'Noah', 'Gabriella', 'Isabella', 'Piper', 'Tessa', 'Ximena', 'Fiona', 'Peter', 'Ava', 'Catherine', 'Harrison', 'Isabella', 'Kylie', 'Matthew']

First Class:
['Bob', 'Charlie', 'Ian', 'Mia', 'Quincy', 'Taylor', 'Ava', 'Catherine', 'Ethan', 'Yasmine', 'Jacob', 'Nora', 'Quinn']

Distinction:
['David', 'Frank', 'Grace', 'Hannah', 'Olivia', 'Ryan', 'Sophia', 'William', 'Yasmine', 'Daniel', 'Ella', 'Finn', 'Kylie', 'Matthew', 'Quinn', 'Brooklyn', 'Caleb', 'Grace', 'Isabelle', 'Liam', 'Madeline', 'Nathan', 'Quinn', 'Sophia', 'Thomas', 'Vivian', 'Zachary', 'Daniel', 'Finn', 'Luna', 'Piper']

In [5]:
students=['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Hannah', 'Ian', 'Jack', 'Katie', 'Liam', 'Mia', 'Noah', 'Olivia', 'Penelope', 'Quincy', 'Ryan', 'Sophia', 'Taylor', 'Uma', 'Violet', 'William', 'Xander', 'Yasmine', 'Zachary', 'Ava', 'Benjamin', 'Catherine', 'Daniel', 'Ella', 'Finn', 'Gabriella', 'Harrison', 'Isabella', 'Jacob', 'Kylie', 'Luna', 'Matthew', 'Nora', 'Oscar', 'Piper', 'Quinn', 'Riley', 'Samuel', 'Tessa', 'Ulysses', 'Victoria', 'Winston', 'Ximena', 'Yara', 'Zane', 'Aria', 'Brooklyn', 'Caleb', 'Delilah', 'Ethan', 'Fiona', 'Grace', 'Henry', 'Isabelle', 'Julian', 'Katelyn', 'Liam', 'Madeline', 'Nathan', 'Olivia', 'Peter', 'Quinn', 'Rebecca', 'Sophia', 'Thomas', 'Ursula', 'Vivian', 'William', 'Xander', 'Yasmine', 'Zachary', 'Ava', 'Benjamin', 'Catherine', 'Daniel', 'Ella', 'Finn', 'Gabriella', 'Harrison', 'Isabella', 'Jacob', 'Kylie', 'Luna', 'Matthew', 'Nora', 'Oscar', 'Piper', 'Quinn']
marks=[65, 75, 66, 80, 23, 77, 78, 82, 74, 63, 53, 41, 70, 52, 97, 29, 68, 76, 79, 68, 39, 21, 93, 42, 77, 22, 70, 47, 70, 98, 84, 86, 56, 24, 54, 24, 92, 27, 93, 43, 37, 63, 77, 40, 31, 60, 45, 42, 29, 55, 38, 32, 37, 94, 96, 46, 72, 65, 99, 29, 80, 21, 27, 79, 91, 78, 20, 52, 91, 34, 99, 91, 45, 91, 22, 46, 68, 88, 60, 28, 61, 100, 35, 95, 34, 53, 52, 70, 64, 99, 58, 67, 31, 89, 75]

def marks_students(students, marks):
    failed = []
    third_class = []
    second_class = []
    first_class = []
    distinction = []
    for i in range(len(students)):
      student = students[i]
      mark = marks[i]
      if (marks[i]<33):
        failed.append(student)
      elif (marks[i] >= 33 and marks[i] <=50):
        third_class.append(student)
      elif(marks[i] >50 and marks[i]<=65):
        second_class.append(student)
      elif(marks[i]>65 and marks[i]<=75):
        first_class.append(student)
      elif(marks[i]>75):
        distinction.append(student)
    return {
        "Failed": failed,
        "Third Class": third_class,
        "Second Class": second_class,
        "First Class": first_class,
        "Distinction": distinction
    }
result = marks_students(students, marks)


for category, students in result.items():
    print(f"{category}: {students}")

Failed: ['Emma', 'Penelope', 'Violet', 'Zachary', 'Harrison', 'Jacob', 'Luna', 'Samuel', 'Winston', 'Zane', 'Henry', 'Julian', 'Katelyn', 'Olivia', 'William', 'Benjamin', 'Oscar']
Third Class: ['Liam', 'Uma', 'Xander', 'Benjamin', 'Nora', 'Oscar', 'Riley', 'Ulysses', 'Victoria', 'Yara', 'Aria', 'Delilah', 'Rebecca', 'Ursula', 'Xander', 'Ella', 'Gabriella']
Second Class: ['Alice', 'Jack', 'Katie', 'Noah', 'Gabriella', 'Isabella', 'Piper', 'Tessa', 'Ximena', 'Fiona', 'Peter', 'Ava', 'Catherine', 'Harrison', 'Isabella', 'Kylie', 'Matthew']
First Class: ['Bob', 'Charlie', 'Ian', 'Mia', 'Quincy', 'Taylor', 'Ava', 'Catherine', 'Ethan', 'Yasmine', 'Jacob', 'Nora', 'Quinn']
Distinction: ['David', 'Frank', 'Grace', 'Hannah', 'Olivia', 'Ryan', 'Sophia', 'William', 'Yasmine', 'Daniel', 'Ella', 'Finn', 'Kylie', 'Matthew', 'Quinn', 'Brooklyn', 'Caleb', 'Grace', 'Isabelle', 'Liam', 'Madeline', 'Nathan', 'Quinn', 'Sophia', 'Thomas', 'Vivian', 'Zachary', 'Daniel', 'Finn', 'Luna', 'Piper']